<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "file:///D:/eclipse-workspace/gym-manager-backend/src/main/resources/mybatis-3-mapper.dtd" >
<mapper namespace="com.potato.membership.mapper.MembershipMapper">

	<!-- 검색 조건 -->
	<sql id="search">
		wp_seq = #{wpSeq}
		<if test="membershipName != null and !membershipName.isEmpty()">
			and membership_name like concat('%', lower(trim(#{membershipName})), '%')
		</if>
		<if test="membershipPeriod != null and !membershipPeriod.isEmpty()">
			and membership_period = #{membershipPeriod}
		</if>
	</sql>

	<!-- 목록 개수 조회 -->
	<select id="getListCnt" resultType="Integer">
		select count(*)
		  from membership
		<where>
			<include refid="search" />
		</where>
	</select>

	<!-- 목록 조회 -->
	<select id="selectList" resultType="com.potato.membership.vo.MembershipVO">
		select membership_seq
			 , wp_seq
			 , membership_name
			 , membership_period
			 , reg_id
			 , reg_date
		from membership
		<where>
			<include refid="search" />
		</where>
		<include refid="com.potato.core.common.mapper.CommonMapper.queryForPagingFooter" />
	</select>

</mapper>